.home
{
    padding: 40px 0px;
    width: 100%;
    margin-left: 30px;
    color: rgb(0, 0, 0);
}
.home .container
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.home .container .details
{
    margin-right: 30px;
   

}
.home .container .details .info h2
{
    font-size: 82px;
    font-family: syne;
}
.home .container .details .info p
{
    margin-top: 20px;
    font-size: 21px;
    line-height: 30px;
}
.home .container .details .user 
{
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
.home .container .details .user .userimg_box img
{
    border-radius: 50%;
  
}
.home .container .details .user p
{
margin-top: 5%;
}
.home .container .details .button
{
    margin-top: 20px;
    display:flex;
    align-items: center;
    background: #107283;
    color: #000;
    font-weight: 500;
    
    position: relative;
    padding: 12px 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width:fit-content;
    text-decoration: none;
    cursor: pointer;
    
}
.home .container .details .button:hover
{
box-shadow: none;
transform: scale(1.1);
}
.home .container .details .button a
{
flex-grow: 1;
text-decoration: none;
color: #ffffff;
font-weight: bold;
margin-right: 40px;
}
.home .container .details .button .icon
{
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
background: #fffcfc;
color: #000000;
border-radius: 50%;
position: absolute;
right: 10px;
}
.home .container .img_box
{
    height: 300px;
    width: 450px;
    overflow: hidden;
   margin-top: 60px;
    margin-right: 60px;
    border-radius: 12px;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.2);
}
.home .container .img_box img
{
object-fit: cover;
width: 100%;
transform: scale(1.2);
transition: 0.3s;
}
.home .container .img_box img:hover
{
    transform: scale(1.1);
}